In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv')

In [4]:
# Mostrar las primeras filas del dataset
print("Primeras filas del dataset:")
print(df.head())

# Mostrar información general del dataset
print("\nInformación del dataset:")
print(df.info())

# Descripción estadística básica del dataset
print("\nDescripción estadística:")
print(df.describe())

# Verificar si hay valores nulos en el dataset
print("\nValores nulos por columna:")
print(df.isnull().sum())

Primeras filas del dataset:
   mora  atraso  vivienda  edad  dias_lab  exp_sf  nivel_ahorro  ingreso  \
0     0     235  FAMILIAR    30      3748    93.0             5   3500.0
1     0      18  FAMILIAR    32      4598     9.0            12    900.0
2     0       0  FAMILIAR    26      5148     8.0             2   2400.0
3     0       0  FAMILIAR    36      5179    20.0            12   2700.0
4     0       0  FAMILIAR    46      3960     NaN             1   3100.0

   linea_sf  deuda_sf  score         zona  clasif_sbs     nivel_educ
0       NaN      0.00    214         Lima           4  UNIVERSITARIA
1   1824.67   1933.75    175  La Libertad           1        TECNICA
2   2797.38    188.29    187         Lima           0  UNIVERSITARIA
3       NaN      0.00    187       Ancash           0        TECNICA
4   2000.00  11010.65    189         Lima           0        TECNICA

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mora          8399 non-null   int64
 1   atraso        8399 non-null   int64
 2   vivienda      8399 non-null   object
 3   edad          8399 non-null   int64
 4   dias_lab      8399 non-null   int64
 5   exp_sf        6569 non-null   float64
 6   nivel_ahorro  8399 non-null   int64
 7   ingreso       8399 non-null   float64
 8   linea_sf      7272 non-null   float64
 9   deuda_sf      7938 non-null   float64
 10  score         8399 non-null   int64
 11  zona          8399 non-null   object
 12  clasif_sbs    8399 non-null   int64
 13  nivel_educ    8399 non-null   object
dtypes: float64(4), int64(7), object(3)
memory usage: 918.8+ KB
None

Descripción estadística:
              mora      atraso         edad      dias_lab       exp_sf  \
count  8399.000000  8399.00000  8399.000000   8399.000000  6569.000000
mean      0.704251     4.46315    36.399095   5555.888796    32.401583
std       0.456406    14.27084     9.825764   2153.244140    32.866232
min       0.000000     0.00000    20.000000   2956.000000     0.000000
25%       0.000000     0.00000    29.000000   4174.000000     7.000000
50%       1.000000     0.00000    34.000000   4904.000000    20.000000
75%       1.000000     2.00000    42.000000   6182.000000    51.000000
max       1.000000   245.00000    85.000000  20700.000000   130.000000

       nivel_ahorro       ingreso       linea_sf      deuda_sf        score  \
count   8399.000000   8399.000000    7272.000000   7938.000000  8399.000000
mean      10.593166   4350.406997   11987.241038   6110.724308   196.619955
std        3.374619   5367.058953   21322.801655  11177.989799    19.544348
min        0.000000    123.700000       0.000000      0.000000   134.000000
25%       12.000000   1366.670000    1169.372500    478.320000   182.000000
50%       12.000000   2400.000000    4030.120000   2258.755000   197.000000
75%       12.000000   4900.000000   12086.627500   5755.150000   212.000000
max       12.000000  30000.000000  121543.400000  57094.380000   266.000000

        clasif_sbs
count  8399.000000
mean      0.563519
std       0.905637
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       4.000000

Valores nulos por columna:
mora               0
atraso             0
vivienda           0
edad               0
dias_lab           0
exp_sf          1830
nivel_ahorro       0
ingreso            0
linea_sf        1127
deuda_sf         461
score              0
zona               0
clasif_sbs         0
nivel_educ         0
dtype: int64

In [5]:
print("\nValores nulos por columna:")
print(df.isnull().sum())

Valores nulos por columna:
mora               0
atraso             0
vivienda           0
edad               0
dias_lab           0
exp_sf          1830
nivel_ahorro       0
ingreso            0
linea_sf        1127
deuda_sf         461
score              0
zona               0
clasif_sbs         0
nivel_educ         0
dtype: int64